.icon-feedback:before {
	content: '\e800';
} /* 'î €' */
.icon-filter:before {
	content: '\e801';
} /* 'î ' */
.icon-fire:before {
	content: '\e802';
} /* 'î ‚' */
.icon-flag:before {
	content: '\e803';
} /* 'î ƒ' */
.icon-graphics_01:before {
	content: '\e804';
} /* 'î „' */
.icon-graphics_02:before {
	content: '\e805';
} /* 'î …' */
.icon-graphics_03:before {
	content: '\e806';
} /* 'î †' */
.icon-graphics_04:before {
	content: '\e807';
} /* 'î ‡' */
.icon-graphics_05:before {
	content: '\e808';
} /* 'î ˆ' */
.icon-grid:before {
	content: '\e809';
} /* 'î ‰' */
.icon-group:before {
	content: '\e80a';
} /* 'î ' */
.icon-history:before {
	content: '\e80b';
} /* 'î ‹' */
.icon-home:before {
	content: '\e80c';
} /* 'î Œ' */
.icon-justified:before {
	content: '\e80d';
} /* 'î ' */
.icon-language:before {
	content: '\e80e';
} /* 'î ' */
.icon-light:before {
	content: '\e80f';
} /* 'î ' */
.icon-like:before {
	content: '\e810';
} /* 'î ' */
.icon-load:before {
	content: '\e811';
} /* 'î ‘' */
.icon-location:before {
	content: '\e812';
} /* 'î ’' */
.icon-logout:before {
	content: '\e813';
} /* 'î “' */
.icon-menu:before {
	content: '\e814';
} /* 'î ”' */
.icon-message:before {
	content: '\e815';
} /* 'î •' */
.icon-next:before {
	content: '\e816';
} /* 'î –' */
.icon-notification:before {
	content: '\e817';
} /* 'î —' */
.icon-paid_sub:before {
	content: '\e818';
} /* 'î ˜' */
.icon-options:before {
	content: '\e819';
} /* 'î ™' */
.icon-pencil:before {
	content: '\e81a';
} /* 'î ' */
.icon-pinned:before {
	content: '\e81b';
} /* 'î ›' */
.icon-play:before {
	content: '\e81c';
} /* 'î œ' */
.icon-play_list:before {
	content: '\e81d';
} /* 'î ' */
.icon-playlist:before {
	content: '\e81e';
} /* 'î ' */
.icon-plus:before {
	content: '\e81f';
} /* 'î Ÿ' */
.icon-preferences:before {
	content: '\e820';
} /* 'î  ' */
.icon-previous:before {
	content: '\e821';
} /* 'î ¡' */
.icon-purchased:before {
	content: '\e822';
} /* 'î ¢' */
.icon-settings:before {
	content: '\e823';
} /* 'î £' */
.icon-search:before {
	content: '\e824';
} /* 'î ¤' */
.icon-share:before {
	content: '\e825';
} /* 'î ¥' */
.icon-sort_by:before {
	content: '\e826';
} /* 'î ¦' */
.icon-star:before {
	content: '\e827';
} /* 'î §' */
.icon-subscriptions:before {
	content: '\e828';
} /* 'î ¨' */
.icon-thumbs_down:before {
	content: '\e829';
} /* 'î ©' */
.icon-thumbs_down_fill:before {
	content: '\e82a';
} /* 'î ª' */
.icon-thumbs_up:before {
	content: '\e82b';
} /* 'î «' */
.icon-thumbs_up_fill:before {
	content: '\e82c';
} /* 'î ¬' */
.icon-tick:before {
	content: '\e82d';
} /* 'î ­' */
.icon-user:before {
	content: '\e82e';
} /* 'î ®' */
.icon-watch_later:before {
	content: '\e82f';
} /* 'î ¯' */
.icon-watch_later_fill:before {
	content: '\e830';
} /* 'î °' */
.icon-add_to_playlist:before {
	content: '\e831';
} /* 'î ±' */
.icon-arrow_below:before {
	content: '\e832';
} /* 'î ²' */
.icon-blocked:before {
	content: '\e833';
} /* 'î ³' */
.icon-calender:before {
	content: '\e834';
} /* 'î ´' */
.icon-cancel:before {
	content: '\e835';
} /* 'î µ' */
.icon-donations:before {
	content: '\e836';
} /* 'î ¶' */
.icon-features:before {
	content: '\e837';
} /* 'î ·' */